@keyframes typing{
    from{
        width: 0;
    }

}


.software{
    font-family: monospace;

    width: 8ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(8);
    font-size: 6vw;
    text-transform: uppercase;
}
