.Habilidades_container{
    padding-top: 80px;
    font-family: arial;
    color: rgb(2, 17, 82);

    min-height:100vh;

    text-align: center;
}

.Habilidades_container > h1{
    font-size: 7vw;
    text-transform: uppercase;
}

.skills > h2{
    text-transform: uppercase;
}

.skills{
    border: 1px solid rgb(2, 17, 82);
    padding:15px;
    margin:20px;
    list-style: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.534)
}

.skills ul{
    list-style: none;
    display: block;
    columns: 2;
    column-gap: 20px;
    text-align: left;
    margin: 30px auto;
}

.skills ul li:not(:first-child){
    margin: 16px;
}

.skills ul li:first-child{
    margin-left:16px;
}

.skills ul li::before{
    content:'✔️'
}


@media screen and (max-width: 768px){
    .skills ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        columns: 1;
        align-items: start;
        justify-content: center;
        gap:12px;
    }
}