.hero_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    color: rgb(2, 17, 82);
}

@media screen and (max-width:992px) {
    .hero_container{
        display: flex;
        flex-direction: column;
    }
}