.ir_container{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:24px;
    font-family: Arial, Helvetica, sans-serif;
}

.ir_title{
    font-size: 300%;
}

.ir_paragraph{
    text-align: justify;
    width: 50%;
    font-size: 1.3em;
}

@media screen and (max-width:992px) {
    .ir_container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .ir_title{
        font-size: 10vw;
    }
    .ir_paragraph{
        width: 100%;
        padding:5px;
    }
}