.mim_container{
    height: 100vh;
    text-align: center;
    padding-top: 90px;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vw;
}

.mim_container > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}