*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;

  background-image: url('images/main_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  background-color: transparent;
  width:5px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(2, 17, 82);
  width:5px;
}